body {
    font-family: "Lato", sans-serif;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .sidenav {
    height: 60%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#16eb07;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 0 50px 50px 0;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

  }

  ul li {
      list-style: none;
  }
  h2,p {
      text-align: center;
      color: cornsilk;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #dfd7d7;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #02faeebe;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  span {
      color: cyan;
      margin-left: 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }